---
- name: Add Caddy GPG key
  ansible.builtin.get_url:
    url: https://dl.cloudsmith.io/public/caddy/stable/gpg.key
    dest: /usr/share/keyrings/caddy-stable-archive-keyring.asc
    mode: "0644"

- name: Add Caddy apt repository
  ansible.builtin.apt_repository:
    repo: >-
      deb [signed-by=/usr/share/keyrings/caddy-stable-archive-keyring.asc]
      https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main
    filename: caddy-stable
    state: present

- name: Install caddy
  ansible.builtin.apt:
    name: caddy
    state: present
    update_cache: true

- name: Deploy Caddyfile
  ansible.builtin.template:
    src: Caddyfile.j2
    dest: /etc/caddy/Caddyfile
    owner: caddy
    group: caddy
    mode: "0644"
  notify: Reload caddy

- name: Enable and start caddy
  ansible.builtin.service:
    name: caddy
    state: started
    enabled: true
